.header__nav{
    display: flex;
    overflow: hidden; 
}
.header__logo{
    flex: 1;
    display: flex;

    position: relative;
    padding: 20px;
 }
 .header__logo-overlay{
position: absolute;
inset: 0;
width: 100%;
background-color: var(--primary-color);
 z-index: 1; 
  display: flex;
 align-items: center; 
 }  
.header__logo-overlay h1 {
   /* font-size: 640px; */
    /* padding-left:  200px; */
    color: rgb(246, 243, 243); 
    /* font-size: xx-large; */
    font-family: var(--playfair-display);
}
 .header__menu{
    padding : 20px;
    flex: 1.236;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;

    list-style:none;
 }
 .header__menu li {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    cursor: pointer;
  }
  
  .header__menu li img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  